<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>poppins.light.ttf</string>
		<string>poppins.regular.ttf</string>
		<string>poppins.bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Dark</string>
		<key>UIImageName</key>
		<string>icon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
